.breadcrumb {
    justify-content: flex-end;

    .breadcrumb-item {
        padding-right: 0.5rem;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        font: normal normal normal 12px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f054";
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        height: 100%;
        padding-right: 1rem;
        color: $gray-700;
    }
}

.context-header-settings-menu,
.region-main-settings-menu {
    margin-left: .5rem;
}