.card-menu-btn {
    position: absolute;
    top: 15px;
    right: 5px;
    button.btn.btn-link.btn-icon {
        background-color: $gray-300;
        opacity: 0.8;
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}
