.pagelayout-mydashboard {
    .card {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0.5rem;
    }

    #block-region-content {
        .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
            width: calc(33.33% - 2rem);
            margin: 1rem;
        }
    }

    &#page-message-index {
        #topofscroll {
            margin-top: 2rem !important;
        }
    }
}

#page-my-index.page-mycourses {
    .pbs-container-fluid {
        .header-action {
            margin-bottom: 1rem;
            display: flex;
            justify-content: end;
            .course-manage-btns {
                padding-right: 0.25rem;
            }
        }
    }
    .header-actions-container
        .header-action
        .btn-group
        > .btn:not(:last-child):not(.dropdown-toggle) {
        background-color: $gray-200;
        color: $black;

        &:hover {
            background-color: darken($gray-200, 10%);
        }

        .text-dark {
            color: $black !important;
        }
    }
}

@include media-breakpoint-down(md) {
    .pagelayout-mydashboard {
        #block-region-content {
            .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
                width: calc(100%);
                margin: 1rem 0;
            }
        }
    }
}
